<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" protection="All" timeout="30">
        <credentials passwordFormat="Clear">
          <user name="admin" password="adminpwd"/>
          <user name="coder" password="coderpwd"/>
        </credentials>
      </forms>
    </authentication>
    <authorization>
      <!--After checking username and password ,Allow the user 'admin'and don't allow the user 'coder'-->
      <allow users="admin"/>
      <deny users="coder"/>
    </authorization>
    <compilation debug="true"/>
  </system.web>
</configuration>